In [2]:
import pandas as pd
import numpy as np
import datetime # datetime preprocessing
import utils # made by author for efficiently dealing with data
from math import ceil

In [3]:
##################################
# loading data
##################################
train = pd.read_csv('../input/train.csv.gz', compression='gzip', dtype={'ProductID': str})
test = pd.read_csv('../input/test.csv.gz', compression='gzip', dtype={'ProductID': str})

print('loading finish')
##################################
# pre-processing
##################################

# ProductID Cleaning
train['ProductID'] = train.ProductID.map(str)
train['ProductID'] = train.ProductID.apply(lambda x: '055649' if x == '55649' else x)
test['ProductID'] = test.ProductID.map(str)
test['ProductID'] = test.ProductID.apply(lambda x: '055649' if x == '55649' else x)

# convert query_datetime(str type) column to datetime type
train['query_datetime'] = pd.to_datetime(train.query_datetime)
test['query_datetime'] = pd.to_datetime(test.query_datetime)

print('pre-processing done')

loading finish
pre-processing done

In [4]:
def week_of_month(dt):
    """ 
    Returns the week of the month for the specified date.
    
    parameters
    -----
    dt: datetime64[ns]
    
    """
    first_day = dt.replace(day=1) # the day of month for the date(dt)
    dom = dt.day # Between 1 and the number of days in the given month of the given year(30 or 31 like that).
    adjusted_dom = dom + first_day.weekday() # Return the day of the week as an integer, where Monday is 0 and Sunday is 6
    return int(ceil(adjusted_dom/7.0))


#-----------
# datetime feature preprocessing
#-----------

# 一個月中的第幾個禮拜[0~3]
train['event_week_of_month'] = train['query_datetime'].apply(week_of_month)
# 一個月中的第幾天[0~29 or 0-30]
train['event_day_of_the_month'] = train['query_datetime'].dt.day 
# Convert date time to the day of the week [0~6]. For example, Monday is 0 and Sunday is 6. 
train['event_day_of_the_week'] = train['query_datetime'].dt.weekday 
# Convert date time to the hour of the day [0~23]
train['event_hour_of_the_day'] = train['query_datetime'].dt.hour
# Convert date time to the min of the hour [0~59]
train['event_min_of_the_hour'] = train['query_datetime'].dt.minute
# Convert date time to the sec of the min [0~59]
train['event_sec_of_the_min'] = train['query_datetime'].dt.second


# 一個月中的第幾個禮拜[0~3]
test['event_week_of_month'] = test['query_datetime'].apply(week_of_month)
# 一個月中的第幾天[0~29 or 0-30]
test['event_day_of_the_month'] = test['query_datetime'].dt.day 
# Convert date time to the day of the week [0~6]. For example, Monday is 0 and Sunday is 6. 
test['event_day_of_the_week'] = test['query_datetime'].dt.weekday 
# Convert date time to the hour of the day [0~23]
test['event_hour_of_the_day'] = test['query_datetime'].dt.hour
# Convert date time to the min of the hour [0~59]
test['event_min_of_the_hour'] = test['query_datetime'].dt.minute
# Convert date time to the sec of the min [0~59]
test['event_sec_of_the_min'] = test['query_datetime'].dt.second

In [11]:
def date_dummy(x):
    return pd.get_dummies(x, columns=['event_day_of_the_week'])

df1 = train.head(n =500).groupby(by = ['id']).apply(date_dummy)
df1

,CustomerID,ProductID,event_day_of_the_month,event_day_of_the_week_0,event_day_of_the_week_1,event_day_of_the_week_2,event_day_of_the_week_3,event_day_of_the_week_4,event_day_of_the_week_5,event_day_of_the_week_6,event_hour_of_the_day,event_min_of_the_hour,event_sec_of_the_min,event_week_of_month,id,label,query_datetime
0,40664c284a10689448522bbae43c3d6f,7acab3,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,14,24,28,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 14:24:28
1,40664c284a10689448522bbae43c3d6f,7acab3,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,14,24,40,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 14:24:40
2,40664c284a10689448522bbae43c3d6f,7acab3,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,17,47,16,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 17:47:16
3,40664c284a10689448522bbae43c3d6f,7acab3,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,17,47,24,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 17:47:24
4,40664c284a10689448522bbae43c3d6f,7acab3,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,20,33,11,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 20:33:11
5,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,37,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:37
6,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,38,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:38
7,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,41,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:41
8,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,47,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:47
9,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,48,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:48
10,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,50,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:50
11,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,50,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:50
12,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,52,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:52
13,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,53,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:53
14,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,55,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:55
15,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,56,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:56
16,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,57,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:57
17,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,58,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:58
18,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,7,59,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:07:59
19,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,8,0,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:08:00
20,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,8,1,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:08:01
21,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,8,1,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:08:01
22,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,8,3,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:08:03
23,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,8,4,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:08:04
24,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,8,5,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:08:05
25,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,8,8,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:08:08
26,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,8,9,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:08:09
27,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,8,24,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:08:24
28,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,8,26,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:08:26
29,b998eaaa42b24e9c8334d6299d935633,055649,4,NaN,NaN,0.0,NaN,NaN,1.0,0.0,16,8,29,1,0000e2398b12121a85166fed5fe2a3da,0,2017-03-04 16:08:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,17,26,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:17:26
471,282396145a3df4452761bacf8049f6db,3ea8c3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,17,27,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:17:27
472,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,17,43,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:17:43
473,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,17,43,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:17:43
474,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,17,43,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:17:43
475,282396145a3df4452761bacf8049f6db,3ea8c3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,17,44,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:17:44
476,282396145a3df4452761bacf8049f6db,3ea8c3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,17,45,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:17:45
477,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,22,55,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:22:55
478,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,22,55,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:22:55
479,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,22,55,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:22:55
480,282396145a3df4452761bacf8049f6db,3ea8c3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,22,57,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:22:57
481,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,29,20,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:29:20
482,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,29,20,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:29:20
483,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,29,20,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:29:20
484,282396145a3df4452761bacf8049f6db,3ea8c3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,29,23,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:29:23
485,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,29,32,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:29:32
486,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,29,32,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:29:32
487,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,29,32,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:29:32
488,282396145a3df4452761bacf8049f6db,3ea8c3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,29,34,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:29:34
489,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,30,56,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:30:56
490,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,30,56,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:30:56
491,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,30,57,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:30:57
492,282396145a3df4452761bacf8049f6db,3ea8c3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,30,59,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:30:59
493,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,31,28,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:31:28
494,3bea0b052033463206ec62c658ccdb04,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,31,29,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:31:29
495,282396145a3df4452761bacf8049f6db,3ea8c3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,31,31,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:31:31
496,9b72e6aa5ccc6e7a4d923bcd97ce425e,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,37,51,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:37:51
497,9b72e6aa5ccc6e7a4d923bcd97ce425e,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,37,51,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:37:51
498,9b72e6aa5ccc6e7a4d923bcd97ce425e,7acab3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,37,52,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:37:52
499,282396145a3df4452761bacf8049f6db,3ea8c3,6,NaN,NaN,0.0,1.0,NaN,NaN,NaN,2,37,53,2,00027f50019000accc492e5684efc818,0,2017-04-06 02:37:53

In [22]:
def week_of_month_one_hot_encoding(x):
    '''
    make ProductID become one-hot encoding form
    
    parameters:
    --------
    x: DataFrame
    '''    
    new_dataframe = {}
    for col in x.columns[1:]:
        if x[col].sum() > 0:
            t = 1
        else:
            t = 0
        new_dataframe[col] = [t]
    return  pd.DataFrame(new_dataframe)
df = pd.get_dummies(train[['id','event_week_of_month']].head(n =500), columns=['event_week_of_month'])
df = df.groupby('id').apply(week_of_month_one_hot_encoding).reset_index().drop('level_1', axis = 1)
df

,id,event_week_of_month_1,event_week_of_month_2,event_week_of_month_3,event_week_of_month_4
0,0000e2398b12121a85166fed5fe2a3da,1,1,0,0
1,0001fe8dce14ce099aa6ca8ea5026ea7,0,0,1,1
2,00027f50019000accc492e5684efc818,0,1,0,0

In [21]:
train[train.id == '0000e2398b12121a85166fed5fe2a3da']

,id,label,CustomerID,query_datetime,ProductID,event_week_of_month,event_day_of_the_month,event_day_of_the_week,event_hour_of_the_day,event_min_of_the_hour,event_sec_of_the_min
0,0000e2398b12121a85166fed5fe2a3da,0,40664c284a10689448522bbae43c3d6f,2017-03-04 14:24:28,7acab3,1,4,5,14,24,28
1,0000e2398b12121a85166fed5fe2a3da,0,40664c284a10689448522bbae43c3d6f,2017-03-04 14:24:40,7acab3,1,4,5,14,24,40
2,0000e2398b12121a85166fed5fe2a3da,0,40664c284a10689448522bbae43c3d6f,2017-03-04 17:47:16,7acab3,1,4,5,17,47,16
3,0000e2398b12121a85166fed5fe2a3da,0,40664c284a10689448522bbae43c3d6f,2017-03-04 17:47:24,7acab3,1,4,5,17,47,24
4,0000e2398b12121a85166fed5fe2a3da,0,40664c284a10689448522bbae43c3d6f,2017-03-04 20:33:11,7acab3,1,4,5,20,33,11
5,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:37,055649,1,4,5,16,7,37
6,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:38,055649,1,4,5,16,7,38
7,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:41,055649,1,4,5,16,7,41
8,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:47,055649,1,4,5,16,7,47
9,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:48,055649,1,4,5,16,7,48
10,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:50,055649,1,4,5,16,7,50
11,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:50,055649,1,4,5,16,7,50
12,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:52,055649,1,4,5,16,7,52
13,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:53,055649,1,4,5,16,7,53
14,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:55,055649,1,4,5,16,7,55
15,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:56,055649,1,4,5,16,7,56
16,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:57,055649,1,4,5,16,7,57
17,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:58,055649,1,4,5,16,7,58
18,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:07:59,055649,1,4,5,16,7,59
19,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:00,055649,1,4,5,16,8,0
20,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:01,055649,1,4,5,16,8,1
21,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:01,055649,1,4,5,16,8,1
22,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:03,055649,1,4,5,16,8,3
23,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:04,055649,1,4,5,16,8,4
24,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:05,055649,1,4,5,16,8,5
25,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:08,055649,1,4,5,16,8,8
26,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:09,055649,1,4,5,16,8,9
27,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:24,055649,1,4,5,16,8,24
28,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:26,055649,1,4,5,16,8,26
29,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:29,055649,1,4,5,16,8,29
30,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:29,055649,1,4,5,16,8,29
31,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:31,055649,1,4,5,16,8,31
32,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:32,055649,1,4,5,16,8,32
33,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:33,055649,1,4,5,16,8,33
34,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:34,055649,1,4,5,16,8,34
35,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:35,055649,1,4,5,16,8,35
36,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:38,055649,1,4,5,16,8,38
37,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:39,055649,1,4,5,16,8,39
38,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:41,055649,1,4,5,16,8,41
39,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:42,055649,1,4,5,16,8,42
40,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:44,055649,1,4,5,16,8,44
41,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:46,055649,1,4,5,16,8,46
42,0000e2398b12121a85166fed5fe2a3da,0,b998eaaa42b24e9c8334d6299d935633,2017-03-04 16:08:47,055649,1,4,5,16,8,47
43,0000e2398b12121a85166fed5fe2a3da,0,8f8608546208bf793af086666c6853db,2017-03-05 14:08:13,7acab3,1,5,6,14,8,13
44,0000e2398b12121a85166fed5fe2a3da,0,8f8608546208bf793af086666c6853db,2017-03-05 14:08:20,7acab3,1,5,6,14,8,20
45,0000e2398b12121a85166fed5fe2a3da,0,8f8608546208bf793af086666c6853db,2017-03-05 14:08:22,7acab3,1,5,6,14,8,22
46,0000e2398b12121a85166fed5fe2a3da,0,8f8608546208bf793af086666c6853db,2017-03-08 22:06:44,7acab3,2,8,2,22,6,44